@import "tailwindcss";

@theme {
	--color-brand: #30b3fa;
	--color-brand-dark: #00527f;

	--color-accent: #10b981;
	--color-accent-dark: #059669;

	--color-base-background: #f8f9fa;
	--color-base-surface: #ffffff;
	--color-base-muted: #f3f4f6;

	--color-text-primary: #1f2937;
	--color-text-secondary: #6b7280;
}
