# dependencies
/node_modules

# next.js
.next/
out/

# env files 
.env*

# Prisma
prisma/*.db
prisma/*.db-journal

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# misc
*.pem